body {
  text-align: center;

}

h2 {
  font-family: 'Raleway', sans-serif;
}

.address {
  background-color: #dcc4be;
  padding-top: 8%;
  padding-bottom: 8%;
}

.map {
  background-color: #f7f1f0;
  padding-top: 5%;
  padding-bottom: 5%;
}
