body {
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 12px;
}

.form {
  background-color: #dcc4be;
  padding-top: 8%;
  padding-bottom: 8%;
}

#name.input {
  margin-top: 6px;
  margin-bottom: 8px;
  padding: 8px 18px;
}

#email.input {
  margin-top: 6px;
  padding: 8px 18px;
}

#message.input {
margin-top: 6px;
}

#submit_button {
  font-family: "Playfair Display", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  outline: 0;
  padding: 12px 18px;
  box-sizing: border-box;
  border-width: 1px;
  margin: 0 auto;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

#submit_button {
  text-decoration: none;
  color: black;
}

#submit_button:hover {
  transform: scale(1.1);
}
