h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

}

h3 {
  font-family: 'Raleway', sans-serif;
}

.row1-wrapper {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 65px;
margin-top: 36px;
max-width: 900px;
margin: 0 auto;
text-align: center;
padding-top: 25px;
}

.bridesmaids {
  background-color: #dcc4be;
  padding-top: 45px;
  padding-bottom: 55px;
}

.groomsmen {
  background-color: #f7f1f0;
  padding-top: 45px;
  padding-bottom: 55px;
}
